<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
<!--SqlServer-->
  <!--  <add name="NFineDbContext" connectionString="Server=qds11454477.my3w.com;Initial Catalog=qds11454477_db;User ID=qds11454477;Password=abcd1234" providerName="System.Data.SqlClient" />-->
 
  <!--MySql-->
 <!--<add name="NFineDbContext" providerName="MySQL.Data.MySqlClient" connectionString="server=localhost;user id=root;password=1;database=NFINEbase;port=3306;persist security info=true;Pooling=true;Max Pool Size=5;Min Pool Size=1;Allow Batch=true;"/>-->
  
  <!--Sqlite-->
 <add name="NFineDbContext" providerName="System.Data.SQLite.EF6" connectionString="data source=|DataDirectory|\NFine.db"/>

</connectionStrings>